/* General */
* {
    box-sizing: border-box;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
}

body, html {
    margin: 0;
    padding: 0;
}

input, button, label, fieldset {
    appearance: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

/* Header */
header {
    /* height: 20vh; */
}

h1 {
    border-bottom: 1px solid #DDDDDD;
    padding: 40px 0;

    font-size: 4rem;
    text-align: center;
}

/* Library */
#library {
    display: flex;
    flex-direction: row;
    /* flex-basis: 30%; */
    flex-wrap: wrap;
    justify-content: space-around;

    height: 80vw;
    padding: 40px 0;

    overflow-y: scroll; 
}

.book {
    position: relative;

    margin: 10px;
    border-radius: 1px;
    width: 210px;
    height: 280px;
    padding: 20px;

    background-color: lightblue;
}

.book-title {
    text-align: center;
}

.book-author {
    text-align: center;
}

.book-extra-information {
    position: absolute;
    bottom: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 80%;
}

.book-extra-information-pages {
    
}

.book-extra-information-delete {
    
}

.book-extra-information-is-read {

}

/* Form */
#add-book-container {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgb(173, 173, 173, 0.6);
}

#add-book {

}

input[type="text"] {
    
}

input[type="radio"] {
    position: relative;

    width: 30px;
    height: 30px;
    border: 3px solid black;
    border-radius: 50%;

    background-color: #DDDDDD;
}

input[type="radio"]:checked::before {
    content: "";

    position: absolute;
    top: 6px;
    left: 6px;
    
    width: 12px;
    height: 12px;
    border-radius: 50%;
    
    background-color: steelblue;

    transition: all 1s linear;
}

form ul {
    display: flex;
    justify-content: space-around;
    align-items: center;

    list-style-type: none;
}

form ul > li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 4px;
}
